<h3>用户注册</h3>

<hr/>

<div class="row">
	<div class="col-md-5">
		<%= form_for @user, :url => users_path, :html => { :multipart => true, :class => "form-horizontal" } do |f| %>
			<%= render partial: "shared/horizontal_form_group_textfield", locals: { field_name: :nick, field_label: "昵称", col1: 2, col2: 10, f: f } %>
			<%= render partial: "shared/horizontal_form_group_textfield", locals: { field_name: :name, field_label: "姓名", col1: 2, col2: 10, f: f } %>
			<%= render partial: "shared/horizontal_form_group_passwdfield", locals: { field_name: :passwd, field_label: "密码", col1: 2, col2: 10, f: f } %>
			<div class="form-group">
				<%= f.label :avatar, :class => "col-md-2 control-label" %>
				<div class="col-md-10">
					<%= f.file_field :avatar %>
				</div>
			</div>
		<% end %>
	</div>
</div>
