<h3>用户注册</h3>

<hr/>

<div class="row">
	<div class="col-md-5">
		<%= bootstrap_form_for(@user, layout: :horizontal, :html => { :multipart => true }, label_col: "col-md-3", control_col: "col-md-9") do |f| %>
			<%= f.text_field :nick, label: "昵称" %>
			<%= f.text_field :name, label: "姓名" %>
			<%= f.password_field :passwd, label: "密码" %>
			<%= f.text_field :email, label: "电子邮箱" %>
			<%= f.text_field :mobile, label: "手机号码" %>
      <div class="form-group">
        <label class="col-md-3 control-label" for="user_avatar">头像</label>
        <div class="col-md-9">
					<div class="fileinput fileinput-new" data-provides="fileinput">
						<div class="fileinput-new thumbnail" style="width: 160px; height: 160px;">
							<img data-src="holder.js/100%x100%" alt="...">
						</div>
						<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 100%"></div>
						<div>
							<span class="btn btn-default btn-file btn-sm">
								<span class="fileinput-new"><span class="glyphicon glyphicon-file"></span> &nbsp;选择头像</span>
								<span class="fileinput-exists"><span class="glyphicon glyphicon-file"></span> &nbsp;更改</span>
								<input type="file" name="user[avatar]" id="user_avatar">
							</span>
							<a href="#" class="btn btn-default btn-sm fileinput-exists btn-danger" data-dismiss="fileinput"><span class="glyphicon glyphicon-trash"></span> &nbsp;删除</a>
						</div>
					</div>
				</div>
			</div>
			<%= f.form_group do %>
				<%= f.submit "注册", class: "btn btn-success btn-block" %>
			<% end %>
		<% end %>
	</div>
</div>
