<ol class="breadcrumb">
  <li><%= link_to "所有板块", categories_path %></li>
  <li><%= link_to @board.category.name, category_path(@board.category) %></li>
  <li class="active"><%= @board.name %></li>
</ol>

<ul class="list-inline">
	<li style="padding-bottom:5px;padding-right:0px;">
		<%= link_to "全部帖子", board_path(@board), :class => "btn btn-#{ @current_label ? "default" : "success" } btn-sm" %>
	</li>
	<% @board.labels.each do |l| %>
    <li style="padding-bottom:5px;padding-right:0px;">
			<%= link_to l.name, board_path(@board, :label => l.id), :class => "btn btn-#{ @current_label == l.id.to_s ? "success" : "default" } btn-sm" %>
		</li>
	<% end %>
</ul>

<br/>

<div class="row">
  <div class="col-md-2">
		<%= link_to '<span class="glyphicon glyphicon-plus"></span> 新发表'.html_safe, new_post_path, :class => "btn btn-success" %>
	</div>
  <div class="col-md-10">
		<%= will_paginate @posts,
				:renderer => BootstrapPagination::Rails,
				:class => "pagination-sm pagination-condensed pull-right",
				:previous_label => "<<",
				:next_label => ">>" %>
	</div>
</div>

<hr class="hr-condensed"/>

<table class="table table-hover">
  <thead>
    <tr>
      <th style="width:60%;">主题</th>
      <th>作者</th>
      <th>回复</th>
      <th>最后发表</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |p| %>
      <tr>
        <td>
					<%= link_to p.label.name, board_path(@board, :label => p.label.id), :class => "btn btn-primary btn-xs" %> &nbsp;<%= link_to p.title, p %>
				</td>
        <td style="padding-top:2px;padding-bottom:2px;line-height: 100%">
					<%= p.user.nick %><br/>
          <small style="color: grey;"><%= I18n.l p.created_at, format: :long %></small>
				</td>
        <td>
					<%= p.comments.count %>
				</td>
        <td style="padding-top:2px;padding-bottom:2px;line-height: 100%">
					<%= p.comments.last ? p.comments.last.user.nick : p.user.nick %><br/>
					<small style="color: grey;"><%= I18n.l p.comments.last ? p.comments.last.created_at : p.created_at, format: :long %></small>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
