<div class="post-side-panel">
  <p>
    <b><%= u.nick %></b>
	</p>
	<a href="#" class="thumbnail">
		<%= image_tag u.avatar.url(:thumb) %>
	</a>
  <table style="width:100%">
    <tbody>
      <tr>
        <td><small>主题</small></td>
        <td><small><%= u.posts.count %></small></td>
      </tr>
      <tr>
        <td><small>帖子</small></td>
        <td><small><%= u.comments.count %></small></td>
      </tr>
      <tr>
        <td><small>注册时间</small></td>
        <td><small><%= I18n.l u.created_at.to_date, format: :long %></small></td>
      </tr>
    </tbody>
  </table>
</div>
