<div class="row">
  <div class="col-md-2">
		<%= link_to '<span class="glyphicon glyphicon-plus"></span> New Post'.html_safe, new_post_path, :class => "btn btn-primary" %>
	</div>
  <div class="col-md-10">
		<%= will_paginate @posts,
				:renderer => BootstrapPagination::Rails,
				:class => "pagination-sm pagination-condensed pull-right",
				:previous_label => "<<",
				:next_label => ">>" %>
	</div>
</div>

<hr class="hr-condensed"/>

<table class="table table-hover">
  <thead>
    <tr>
      <th style="width:70%;">主题</th>
      <th>作者</th>
      <th>回复/查看</th>
      <th>最后发表</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
					<%= link_to post.title, post %>
				</td>
        <td style="padding:2px;line-height: 100%">
					<%= post.user.nick %><br/>
          <small style="color: grey;"><%= post.created_at %></small>
				</td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
