<ol class="breadcrumb">
  <li><%= link_to "所有板块", categories_path %></li>
  <li><%= link_to @post.board.category.name, category_path(@post.board.category) %></li>
  <li><%= link_to @post.board.name, board_path(@post.board) %></li>
	<li class="active"><%= @post.title %></li>
</ol>

<div class="row" style="margin-bottom:10px;">
  <div class="col-md-1" style="padding-right:0px;">
		<!-- Button trigger modal -->
		<button class="btn btn-primary btn-block" data-toggle="modal" data-target="#replyPostModal">
			回复主题
		</button>

		<!-- Modal -->
		<div class="modal fade" id="replyPostModal" tabindex="-1" role="dialog" aria-labelledby="replyPostModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="replyPostModal">回复主题</h4>
					</div>
					<div class="modal-body">
						<form role="form">
							<div class="form-group">
								<label for="replyPost">主题: <%= @post.title %></label>
								<textarea class="form-control wysihtml5" rows="8" name="comment"></textarea>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">撤销</button>
						<button type="button" class="btn btn-primary">回复</button>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="col-md-11">
		<%= will_paginate @comments,
				:renderer => BootstrapPagination::Rails,
				:class => "pagination-sm pagination-condensed pull-right",
				:previous_label => "<<",
				:next_label => ">>" %>
	</div>
</div>
<div class="panel-group" style="margin-bottom: 5px;">
	<% count = 1 %>
	<div class="panel panel-default">
		<div class="panel-heading">
      <h4 class="panel-title">
				<%= @post.title %>
			</h4>
		</div>
    <div class="panel-collapse collapse in">
			<div class="panel-body">
        <div class="row">
					<div class="col-md-2">
            <%= render partial: "user_profile_sidebar", locals: { u: @post.user } %>
					</div>
          <div class="col-md-10">
            <div class="row">
							<div class="col-md-6">
								发表于 <%= I18n.l @post.created_at %>
							</div>
              <div class="col-md-6">
                <p class="pull-right" style="margin-bottom: 0px;">
									# <%= "#{count}" %>
								</p>
							</div>
						</div>
						<hr class="hr-condensed"/>
						<div class="post-content">
							<%= @post.content %>
						</div>
						<hr class="hr-condensed"/>
						<a href="">回复</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<% @comments.each do |c| %>
		<% count += 1 %>
		<div class="panel panel-default">
			<div class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-2">
							<%= render partial: "user_profile_sidebar", locals: { u: c.user } %>
						</div>
						<div class="col-md-10">
							<div class="row">
								<div class="col-md-6">
									回复于 <%= I18n.l c.created_at %>
								</div>
								<div class="col-md-6">
									<p class="pull-right" style="margin-bottom: 0px;">
										# <%= "#{count}" %>
										</p>
								</div>
							</div>
							<hr class="hr-condensed"/>
              <div class="post-content">
								<%= render partial: "quote", locals: { c: c } %>
								<p>
									<%= c.content %>
								</p>
							</div>
							<hr class="hr-condensed"/>
							<a href="">回复</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
<%= will_paginate @comments,
				:renderer => BootstrapPagination::Rails,
				:class => "pagination-sm pagination-condensed",
				:previous_label => "<<",
				:next_label => ">>" %>
