<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title"><%= category.name %></h4>
	</div>
	<div class="panel-collapse collapse in">
		<table class="table table-hover" style="margin-bottom:0px;">
			<tbody>
				<% category.boards.each do |board| %>
					<tr>
						<td style="width:56px;">
							<img data-src="holder.js/40x40" alt="...">
						</td>
						<td style="width:60%;">
							<%= link_to board.name, board_path(board) %>
              <br/>
							<small class="font-grey">版主：<%= board.moderator.nick %></small>
						</td>
						<td>
							<%= board.post_count %> / <small class="font-grey"><%= board.comment_count %></small>
						</td>
						<td>
							<%= board.posts.last ? board.posts.last.title : "没有文章" %>
							<br/>
							<small class="font-grey"><%= board.posts.last ? (I18n.l board.posts.last.created_at, :format => :long) : "N/A" %></small>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
