<!DOCTYPE html>
<html>
<head>
  <title>Sampleblog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <header id="top" class="navbar navbar-default">
    <div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">Bootstrap</a>
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
					<li>
						<a href="#">Getting started</a>
					</li>
					<li>
						<a href="#">CSS</a>
					</li>
					<li class="active">
						<a href="#">Components</a>
					</li>
					<li>
						<a href="#">JavaScript</a>
					</li>
					<li>
						<a href="#">Customize</a>
					</li>
				</ul>
        <div class="pull-right" style="margin-right: -15px;">
					<% if current_user %>
						<%= link_to content_tag(:b, current_user.nick), user_path(current_user.id), :class => "navbar-link" %>
						&nbsp;
						<%= link_to '<span class="glyphicon glyphicon-log-out"></span> &nbsp;注销'.html_safe, log_out_path, :class => "btn btn-danger btn-sm navbar-btn" %>
					<% else %>	
						<%= button_tag '<span class="glyphicon glyphicon-log-in"></span> &nbsp;登录'.html_safe, :class => "btn btn-primary btn-sm navbar-btn", :data => { :toggle => "modal", :target => "#loginModal" } %>

						<%= render partial: "shared/login_modal" %>
						
						<%= link_to '<span class="glyphicon glyphicon-plus"></span> &nbsp;注册'.html_safe, new_user_path, :class => "btn btn-success btn-sm navbar-btn" %>
					<% end %>
				</div>
			</nav>
		</div>
  </header>

  <div class="container">
		<% flash.each do |k, v| -%>
			<% next unless v.is_a?(Hash) && v.has_key?(:class) %>
			<div class="alert alert-<%= v[:class] %>">
				<%= v[:title] %>: <%= v[:msg] %>
			</div>
		<% end -%>
    <%= yield %>
	</div>
	
	<%= render partial: "/layouts/footer" %>
	
</body>
</html>
